@import "blocks/page.css";
@import "blocks/form.css";

*{
  box-sizing: border-box
}

html {
  height: 100%
}

body {
  margin: 0;
  height: 100%;
}

header,
nav,
section,
article,
aside,
footer {
  display: block
}
